### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(purchase_data, encoding="ISO-8859-1")

In [2]:
# Show just the header
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
# Identify incomplete rows
df.count()[0]

780

In [4]:
# Use df.loc to narrow data
player_demographics = df.loc[:,["Gender","SN","Age"]]
player_demographics

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
775  Female     Aethedru70   21
776    Male         Iral74   21
777    Male     Yathecal72   20
778    Male        Sisur91    7
779    Male      Ennrian78   24

[780 rows x 3 columns]

In [59]:
# Drop all rows with missing information
clean_df = player_demographics.drop_duplicates().copy()
clean_df

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

In [60]:
# Drop all rows with missing information
# Verify clean up
num_players = clean_df.count()[0]
num_players

576

In [61]:
# Make DataFrame
pd.DataFrame({"Total Players":[num_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [62]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [63]:
# Run basic calculations to obtain number of unique items
unique_items = len(df["Item ID"].unique())
unique_items

179

In [64]:
# Run basic calculations to obtain number of unique items
count = df["Item ID"].value_counts()
count

92     13
178    12
108     9
132     9
82      9
       ..
104     1
27      1
134     1
118     1
91      1
Name: Item ID, Length: 179, dtype: int64

In [65]:
# Calculate average item price
average_item_price = df["Price"].mean()
average_item_price

3.050987179487176

In [66]:
# Calculate number of purchases
purchase_count = df["Item ID"].count()
purchase_count

780

In [67]:
# Calculate total revenue
total_purchase_value = df["Price"].sum()
total_purchase_value

2379.77

In [68]:
# Use Map to format all the columns????
#file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)

# Create a DataFrame to hold results
summary_table = pd.DataFrame({"Number of Unique Items": [unique_items], 
                             "Average Price": [average_item_price], 
                             "Number of Purchases" : [purchase_count], 
                             "Total Revenue" : [total_purchase_value]})
summary_table.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [69]:
#Find Total Count of Male, Female, and Other/Non-Disclosed players

# The value_counts method counts unique values in a column
count = clean_df["Gender"].value_counts()
count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [70]:
total_players = count.sum()
total_players

576

In [71]:
#Find Percentage of Male, Female, and Other/Non-Disclosed players
average_player = count / total_players
average_player

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [72]:
# Create a DataFrame to hold results
gender_analysis = pd.DataFrame({"Total Count" : count , 
                                "Percentage of Players" : average_player})
# Format DataFrame for percentage
gender_analysis["Percentage of Players"] = gender_analysis["Percentage of Players"].map("{:,.2%}".format)
gender_analysis.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [81]:
# Collecting the Purchasing Analysis by Gender
# Use groupby
gender_purchase_total = df.groupby(["Gender"])

# Gender Total Purchase Value
gender_purchase_price = df.groupby(["Gender"]).sum()["Price"]
gender_purchase_price

# Average purchase price
gender_average = df.groupby(["Gender"]).mean()["Price"]
gender_average

# Gender Total Purchase Count
gender_counts = df.groupby(["Gender"]).count()
gender_counts

# Average Total per person
# Total Purchase Value /number of unique player
avg_total = gender_purchase_price / gender_analysis["Total Count"]
avg_total

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [84]:
gender_purchase_total.sum().columns

Index(['Purchase ID', 'Age', 'Item ID', 'Price'], dtype='object')

In [87]:
#Create a DataFrame to hold results
gender_purchasing_analysis = pd.DataFrame({"Purchase Count" : gender_analysis["Total Count"], 
                                           "Average Purchase Price" : gender_average,
                                           "Total Purchase Value" : gender_purchase_price,
                                           "Avg Total Purchase per Person" : avg_total})
gender_purchasing_analysis.head()

# Format DataFrame for percentage
# gender_analysis["Percentage of Players"] = gender_analysis["Percentage of Players"].map("{:,.2%}".format)
# gender_analysis.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,81,3.203009,361.94,4.468395
Male,484,3.017853,1967.64,4.065372
Other / Non-Disclosed,11,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [76]:
# Figure out the minimum and maximum ages
print(clean_df["Age"].max())
print(clean_df["Age"].min())

# Establish bins for ages
# Create the bins in which Data will be held  
bins = [0, 9.9, 13.9, 14.9, 24.9, 29.9, 34.9, 39.9, 50]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins
pd.cut(clean_df["Age"], bins, labels=group_names)

clean_df["Age Demographics"] = pd.cut(clean_df["Age"], bins, labels=group_names)
df.head()

age_demographics = clean_df.groupby("Age Demographics")

45
7

In [91]:
#Calculate the numbers and percentages by age group
purchase_count = age_demographics["Gender"].count()
purchase_count

#percentage_players = age_demographics["Gender"] / gender_analysis["Total Count"]
#percentage_players


#Create a summary data frame to hold the results


#Optional: round the percentage column to two decimal points


#Display Age Demographics Table

ValueError: operands could not be broadcast together with shapes (8,2) (3,)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Bin the purchase_data data frame by age
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Run basic calculations to obtain the results in the table below
# Create a summary data frame to hold the results
# Sort the total purchase value column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Retrieve the Item ID, Item Name, and Item Price columns
columns = []

# Group by Item ID and Item Name
# Perform calculations to obtain purchase count, item price, and total purchase value
# Create a summary data frame to hold the results
# Sort the purchase count column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# Sort the above table by total purchase value in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the data frame